<mat-drawer-container class="example-container" autosize>
    <mat-drawer mode="over" #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
          <a routerLink="home" mat-list-item >Home</a>
          <a *ngIf="selectIsAdmin$ | async" routerLink="users" mat-list-item >Usuarios</a>
          <a routerLink="students" mat-list-item >Estudiantes</a>
          <a routerLink="courses" mat-list-item >Cursos</a>
          <a routerLink="inscriptions" mat-list-item >Inscripciones</a>
      </mat-nav-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar color="primary">
        <button
          (click)="drawer.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <div class=" div-custom">
          <h1 class="d-flex justify-content-start align-items-center m-0 ">My App</h1>
          <div >
            <p class="d-flex justify-content-start align-items-center m-0 " *ngIf="authUser$ | async; let authUser "  >
              {{ authUser?.name }} {{ authUser?.lastname }}
            </p>
  
          </div>
          <button (click)="logout()" mat-flat-button type="button">
           
            Cerrar sesion
        </button>

        </div>
      </mat-toolbar>
  
      <main class="p-3">
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-drawer-container>