<mat-drawer-container class="example-container" autosize>
    <mat-drawer mode="over" #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
          <a routerLink="dashboard/home" mat-list-item >Home</a>
          <a routerLink="dashboard/users" mat-list-item >Usuarios</a>
          <a routerLink="dashboard/teachers" mat-list-item >Profesores</a>
          <a routerLink="dashboard/students" mat-list-item >Estudiantes</a>
      </mat-nav-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar color="primary">
        <button
          (click)="drawer.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="d-flex justify-content-start align-items-center m-0 title-custom">My App</h1>
      </mat-toolbar>
  
      <main class="p-3">
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-drawer-container>