<section>
    <div class="div-image">
        <img class="image" src="https://fastly.picsum.photos/id/237/536/354.jpg?hmac=i0yVXW1ORpyCZpQ-CknuyV-jbtU7_x9EBQVhvT5aRr0" alt="">
    </div>
    <div class="texto">
        <p class="lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci a mollitia excepturi asperiores error aut praesentium dolores reiciendis sit, doloremque, repellendus, consectetur earum esse nemo rerum ab quas eveniet expedita!</p>
        <p class="lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nostrum dolores, veritatis reprehenderit nisi maxime? Eius amet fugit voluptatem, pariatur cum hic sunt quasi eveniet neque culpa tempore architecto libero.</p>
    </div>
</section>
